:root{
    --bg:#0F1523;
    --bg_2:#4957F6;
    --text_black:#000;
    --text_white:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg);
}
::-webkit-scrollbar-thumb{
    background-color: var(--text_white);
}

/*------------------------
         COMMOM STYLES 
--------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1030px;
    margin: 80px auto;
    padding: 0 30px;
}
.titles {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.head_title{
    font-size: 36px;
    font-weight: 700;
    padding: 20px 0px;
}
.summary{
    font-size: 18px;
    font-weight:400;
    margin-bottom: 3rem;
    letter-spacing: 0.3px;
}
.btn {
    background-color: var(--bg_2);
    color:var(--text_white);
    padding: 12px 16px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
@media(max-width:768px) {
    .grid {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
}


/*----------------------------------
            HEADER SECTION
-----------------------------------*/
.header_section {
    padding-top: 100px;
    padding-bottom: 55px;
    background: var(--bg);
    width: 100%;
}
.header_section .grid {
    grid-column-gap: 30px;
}
.header_section .Bx-1 {
    color:var(--text_white);
}
.header_section .Bx-2 {
    text-align: center;
}
.Bx-2 .header_section-img {
    width: 100%;
}

@media(max-width:768px){
    .header_section {
        height: auto;
        padding-bottom: 1px;
    }
    .header_section .Bx-2 {
        grid-row: 3/1;
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .header .Bx-2 {
        margin-top: 0px;
    }
    .header .Bx-1 {
        margin-top: 50px;
    }
}


/*----------------------------------
            ABOUT SECTION
-----------------------------------*/
.about_section .grid{
    grid-column-gap: 50px;
}
.about_section .Bx-1 .about_section-img{
    width: 100%;
}
.about_section .Bx-2{
    margin-top: 60px;
}
.about_section .titles {
    color:var(--bg_2);
    font-weight: 500;
}
.about_section .head_title,
.about_section .summary {
    color:var(--text_black);
}
@media(max-width:978px){
    .Bx-2 {
        margin-top: 10px;
    }
}
@media(max-width:940px) {
    .Bx-2 {
        margin-top: 20px;
    }
    .head_title {
        font-size: 30px;
    }
}
@media(max-width:847px) {
    .head_title {
        font-size: 25px;
    }
    .summary {
        font-size: 17px;
    }
}





/*----------------------------------
            PRICING SECTION
-----------------------------------*/
.pricing_section{
    width: 100%;
    background-color: var(--bg_2);
    color: var(--text_white);
    text-align: center;
    padding: 30px 0px;
}
.pricing_head{
    margin-top: 15px;
    font-size: 40px;
    font-weight: 500;
}
.grid_section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3em;
    max-width: 1030px;
    margin: 80px auto;
    padding: 0 30px;
}
.Box_section{
    background-color: #0F1523;
    padding: 40px 40px;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
}
.icon i{
    font-size: 30px;
}
.pricing_title{
    font-size: 30px;
    font-weight: 400;
}
.price{
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
}
.month{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 20px;
}
.products{
    padding-bottom: 40px;
}
.products p{
    font-size: 16px;
    font-weight: 400;
    padding: 1px 0px;
}
.plan {
    background-color: var(--bg_2);
    color: var(--text_white);
    padding: 10px 14px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

@media(max-width:827px) {
    .grid_section{
        grid-template-columns: 1fr;
    }
    .Box_section {
       margin: 0px 40px;
    }
}
@media(max-width:320px) {
    .Box_section {
       margin: 0px 5px;
    }
}

/*----------------------------------
            BLOG SECTION
-----------------------------------*/
.header{
    background: #0F1523;
    color: #fff;
}